.home {
  width: 60%;
  margin: 0 auto;
}
.home .filter-button {
  border-radius: 40px;
  width: 110px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  transition: transform 0.3s ease;
}

.home .filter-button .arrow {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.home .filter-button.active .arrow {
  transform: rotate(180deg);
}

.home .filter-pannel {
  background-color: #6d6b6b;
  padding: 20px;
  width: 100%;
  transform: translateY(-100%);
  transition: tramsform 0.3s ease-in-out;
}
.home .filter-pannel.active {
  transform: translateY(0);
}

.home .mediaTypeSelect {
  display: flex;
  justify-content: flex-end;
}

.home .mediaTypeSelect button {
  background-color: transparent;
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
}
.home .mediaTypeSelect button:hover {
  background-color: rgba(221, 221, 221, 0.452);
}
.home .mediaTypeSelect button.active {
  color: #219c90;
  font-weight: bold;
  background-color: #f5d95c9d;
}
