.nav-tabs{
    background-color: antiquewhite;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav-tabs button{
    background: none;
    border: none;

}

.tab-content{
    width: 80%;
    margin: 0 auto;
}